<!DOCTYPE html>
<html lang="en">

<%- include('head') -%>

<body>
  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Pre HEader ***** -->
  <div class="pre-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <span>Hey! The Show is Starting in 15 Days.</span>
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="text-button">
            <a href="/rent-venue">Contact Us Now! <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/" class="logo">Art<em>Xibition</em></a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="/" class="<%= headingKey === "home" ? "active" : "" %>">Home</a></li>
              <li><a href="/about" class="<%= headingKey === "about" ? "active" : "" %>">About Us</a></li>
              <li><a href="/rent-venue" class="<%= headingKey === "rent-venue" ? "active" : "" %>">Rent Venue</a></li>
              <li><a href="/shows-events" class="<%= headingKey === "shows-events" ? "active" : "" %>">Shows & Events</a></li>
              <li><a href="/tickets">Tickets</a></li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->