<%- include('../shared/header') %>
<%- include('./main_banner') %>
<%- include('./carousel_items') %>
<%- include('./amazing_venus') %>
<div class="map-image">
    <img src="/images/map-image.jpg" alt="Maps of 3 Venues" />
</div>
<%- include('./venue_tickets') %>
<%- include('./comming_events') %>
<%- include('../shared/subscribe') %>
<%- include('../shared/footer') %>